/*#container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.cat {

}

img {
	width: 300px;
}

.counter {
	margin: 0 20px;
}*/

ul li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	border: 1px solid;
	border-radius: 5px;
	padding:10px;
	background: #ccc;
	cursor: pointer;
}
img {
	width: 400px;
}